page-post {
    #myInput {
        padding-top: 30px;
        padding-left: 16px;
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }
}
